:root {
  --white: #fff;
  --black: #000;
  --font-color-base: #666;
  --font-color-dark: #212529;
  --font-color-light: #b0aebe;
  --font-color-link: #377dff;
  --size-5: 0.3125rem;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}
nav {
  padding: 0;
}
ul {
  padding: 0;
  list-style: none;
  color: var(--font-color-base);
}
a {
  text-decoration: none;
}
h1 {
  font-size: var(--size-50);
  font-weight: 500;
}
svg {
  width: 24px;
}
img {
  max-width: 100%;
}
/* ----- CSS Utilities ----- */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.container {
  margin: 0 4.375rem;
}
.block-text {
  max-width: 375px;
}
.btn {
  border: solid 1px transparent;
  border-radius: var(--size-20);
  padding: var(--size-10) var(--size-14);
  color: var(--white);
  background: var(--font-color-link);
  font-size: var(--size-10);
  font-weight: 600;
  white-space: nowrap;
  fill: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn > svg {
  width: var(--size-14);
}
