:root {
  --white: #fff;
  --black: #000;
  --font-color-base: #666;
  --font-color-dark: #212529;
  --font-color-light: #b0aebe;
  --font-color-link: #377dff;
  --size-5: 0.3125rem;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  /* background-color: rgb(218, 209, 193); */
}
header,
main,
footer {
  margin: 0 5%;
}
section {
  border: solid 1px red;
  margin-top: var(--size-100);
}
nav {
  padding: 0;
}
ul {
  padding: 0;
  list-style: none;
  color: var(--font-color-base);
}
a {
  text-decoration: none;
  color: var(--font-color-link);
  fill: var(--font-color-link);
  display: flex;
  align-items: center;
}
a svg {
  width: 6px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-size: var(--size-50);
  font-weight: 500;
  line-height: 1.3;
}
h2 {
  font-size: var(--size-30);
  font-weight: 500;
}
h4 {
  font-size: var(--size-20);
  font-weight: 500;
}
svg {
  width: 24px;
}
img {
  width: 100%;
  display: block;
}
/* ----- CSS Utilities ----- */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.block-text {
  max-width: 375px;
}
.block-text p {
  margin-top: var(--size-5);
  color: var(--font-color-base);
}
.btn {
  border: solid 1px transparent;
  border-radius: var(--size-20);
  padding: var(--size-10) var(--size-16);
  color: var(--white);
  background: var(--font-color-link);
  font-size: var(--size-14);
  font-weight: 500;
  white-space: nowrap;
  fill: var(--white);
  align-items: center;
  gap: var(--size-5);
  min-width: fit-content;
}
.btn svg {
  max-width: var(--size-14);
}
.block-text .btn {
  font-size: var(--size-14);
}
.round-icon {
  border: solid 1px transparent;
  box-shadow: 0px 5px 30px 1px rgba(0, 0, 0, 0.1);
  padding: 18px;
  border-radius: 50%;
  background-color: var(--white);
  width: fit-content;
  position: relative;
}
.card {
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
  max-width: fit-content;
  border: solid 1px transparent;
  flex-direction: column;
  gap: 10px;
  padding: var(--size-20);
  border-radius: var(--size-5);
  background: var(--white);
}
.btn svg.arrow-right {
  max-width: 5px;
  stroke: var(--white);
  stroke-width: 45;
}
