.bg-gradient {
  background: url(/assets/banners/gradient.svg) no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}
.bg-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.bg-shape svg {
  fill: var(--black);
  width: 100%;
  height: auto;
  margin-bottom: -1px;
  vertical-align: middle;
}
.nav-top {
  margin-top: -0.625rem;
  font-size: var(--size-14);
}
.nav-top ul {
  gap: var(--size-20);
}
.nav-top ul li:first-child {
  margin-right: auto;
}
.nav-top ul li {
  align-items: center;
  gap: var(--size-10);
}
.nav-top li svg {
  width: var(--size-10);
  fill: var(--font-color-base);
}

.nav-bottom {
  margin: auto;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color-base);
}
.nav-bottom ul {
  gap: var(--size-10);
  align-items: center;
}
.nav-bottom ul li a {
  color: var(--font-color-base);
  font-size: var(--size-14);
  padding: 0 var(--size-5);
}
.nav-bottom ul li a.current {
  color: var(--font-color-link);
}

.logo {
  width: var(--size-100);
  flex-shrink: 0;
}
.section-1 {
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-1 .block-text p {
  font-size: var(--size-18);
}
.section-1 .block-text a {
  margin-left: 10px;
  align-items: center;
  gap: 10px;
  font-size: var(--size-14);
}
.section-1 .block-text a svg {
  width: 6px;
}
.icon-container {
  z-index: 10;
  justify-self: center;
  width: 100%;
  max-width: 50%;
  position: relative;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.round-icon img {
  width: var(--size-30);
}
.icon-container .round-icon.sml {
  padding: 10px;
}
.round-icon:first-child {
  top: -30px;
  grid-column: 1;
}
.round-icon:nth-child(2) {
  top: -20px;
  left: 30px;
  grid-column: 2;
  grid-row: 2;
}
.round-icon:nth-child(3) {
  top: 30px;
  grid-column: 4;
}
.round-icon:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}
.round-icon:nth-child(5) {
  grid-column: 3;
  grid-row: 3;
}
.round-icon:nth-child(6) {
  grid-column: 2;
  grid-row: 4;
}
.round-icon:last-child {
  grid-column: 4;
  grid-row: 5;
}
/* ----- Section 2 ----- */
.section-2 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-2 .block-text {
  max-width: fit-content;
  text-align: center;
}
.section-2 .card-container {
  width: 100%;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: var(--size-20);
  flex-wrap: wrap;
}
.section-2 .card {
  padding: var(--size-20);
  flex-basis: 250px;
}
.card h3 {
  align-items: center;
  gap: var(--size-10);
}
.card h3 .btn {
  padding: 2px 5px;
  font-size: 12px;
  background: #00c9a6;
}
.card p {
  font-size: var(--size-14);
  margin-top: 0;
  line-height: 1.5;
  color: var(--font-color-base);
}
.card img {
  max-width: var(--size-50);
}
.card a {
  font-size: var(--size-14);
}
.card a svg {
  margin-left: var(--size-10);
}

.section-3 {
  padding-top: var(--size-50);
  padding-left: var(--size-50);
  background-color: #f8fafe;
  align-items: center;
  justify-content: center;
  gap: var(--size-20);
}
.section-3 .block-text button {
  margin-top: var(--size-20);
}
.section-3 .banner-container img {
  box-shadow: -5px 10px 15px 0px rgba(0, 0, 0, 0.1);
}
.section-4 {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}
.section-4 .block-text {
  text-align: center;
  max-width: 100%;
}
.dot-wrapper {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.dot-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dot-card strong {
  font-weight: 500;
}
.dot-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--size-10);
}
.circle {
  background-color: #ecf2ff;
  height: 40px;
  min-width: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.circle svg {
  width: 5px;
  fill: var(--font-color-link);
}
.line {
  width: 100%;
  min-width: 50px;
}
.line.line-hidden hr {
  display: none;
}
.line hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 2px;
  background: #e8eaf3;
}
.banner-wrapper {
  background: url(/assets/banners/banner_two.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.banner-wrapper .play-icon {
  background-color: var(--white);
  width: var(--size-40);
  height: var(--size-40);
  align-items: center;
  justify-content: center;
  border: solid 1px transparent;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 5px 30px 1px rgba(0, 0, 0, 0.1);
}
.banner-wrapper .play-icon svg {
  max-width: 10px;
  fill: var(--font-color-dark);
}

.section-5 {
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.img-stack {
  position: relative;
  grid-template-columns: repeat(8, 1fr);
  max-width: 400px;
}
.img-top {
  grid-row: 1;
  grid-column: 2 / span 8;
  z-index: 10;
  padding-bottom: 10%;
}
.img-top img {
  border-radius: var(--size-5);
}
.img-bottom {
  padding-left: 10%;
  grid-column: 1 / 4;
  grid-row: 1;
  align-self: flex-end;
}
.section-5 .block-text {
  align-self: center;
  flex-direction: column;
  gap: var(--size-10);
}
.block-text strong {
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color-dark);
  line-height: 1.8;
}
.block-text img {
  max-width: var(--size-100);
}

.section-6 h4 {
  color: var(--font-color-base);
  font-size: var(--size-14);
  text-align: center;
}
.brand-container {
  margin-top: var(--size-30);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: var(--size-50);
  row-gap: var(--size-20);
}
.brand {
  width: var(--size-100);
}
.section-7 {
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.section-7 .block-text {
  margin: auto;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.price-container {
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--size-10);
}

.big-card {
  justify-content: center;
  flex-basis: 375px;
}
.big-card .card {
  padding: var(--size-30);
  justify-content: center;
}
.big-card .card h2 {
  font-size: var(--size-50);
  font-weight: 500;
}
.big-card .card h2 span {
  font-size: var(--size-20);
}
.big-card .card .btn {
  width: fit-content;
}
.big-card .card p:last-child {
  margin-top: -5px;
  font-size: var(--size-12);
}
.feature {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--size-5);
  justify-content: center;
}
.feature .card {
  box-shadow: none;
  padding: var(--size-10);
  flex-basis: 150px;
}
.feature .card img {
  max-width: var(--size-40);
}
.section-8 {
  background-image: url(/assets/banners/waves.svg);
  background-color: rgb(33, 50, 91);
  background-position: center;
  background-size: contain;
  margin: var(--size-100) 0;
  padding: var(--size-50);
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.section-8 .block-text {
  color: var(--white);
}
.section-8 .block-text p {
  color: var(--font-color-light);
  line-height: 1.5;
}
.section-8 .block-text .line {
  margin: var(--size-20) 0;
}
.section-8 .block-text .line hr {
  background-color: var(--font-color-base);
  width: 50%;
}
.section-8 .block-text strong {
  color: var(--white);
}
.author h4 {
  font-size: var(--size-14);
}
.author p {
  font-size: var(--size-14);
}
.author-icon-container {
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 var(--size-10);
  gap: var(--size-20);
}
.author-icon {
  width: var(--size-40);
}
.author-icon:last-child {
  width: var(--size-50);
}
.author-icon img {
  border-radius: 50%;
}
form {
  border: solid 1px var(--white);
  background: var(--white);
  flex-basis: 500px;
  padding: var(--size-40) var(--size-20);
  margin: var(--size-50) 0;
  border-radius: var(--size-5);
}
form h4 {
  padding: 0 var(--size-16);
  margin-bottom: var(--size-10);
}
input,
select,
textarea {
  width: 100%;
  padding: var(--size-16);
  border-radius: var(--size-5);
  border: solid 1px var(--font-color-light);
  font-size: var(--size-14);
  font-family: "Roboto", sans-serif;
}
fieldset {
  border: none;
  gap: var(--size-16);
}
.fieldset select {
  font-weight: 500;
}
.checkbox-container {
  gap: var(--size-5);
}
.checkbox {
  width: fit-content;
}
fieldset label {
  font-size: var(--size-12);
  color: var(--font-color-base);
}
fieldset label span {
  border-bottom: 1.5px dashed var(--font-color-base);
}
.form button {
  font-size: var(--size-16);
}
.form .btn.submit {
  border-radius: 3px;
  width: 100%;
  padding: 15px;
}
footer {
  justify-content: space-evenly;
  margin-bottom: var(--size-50);
  flex-wrap: wrap;
  gap: var(--size-10);
}
.footer-child {
  gap: var(--size-10);
}
.footer-child:first-child {
  width: fit-content;
}
.footer-child:not(:first-child) {
  flex-basis: var(--size-150);
}
.footer-child ul {
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  gap: var(--size-16);
}
.footer-child ul li {
  align-items: center;
  font-size: var(--size-14);
  gap: var(--size-10);
}
.footer-child svg {
  width: var(--size-16);
  fill: var(--font-color-base);
}
.footer-child:last-child svg {
  width: var(--size-14);
}
.footer-child span.btn {
  padding: 2px;
  border-radius: var(--size-5);
  font-size: var(--size-12);
}
