.nav-top {
  margin-top: -0.625rem;
  font-size: var(--size-14);
}
.nav-top ul {
  gap: var(--size-20);
}
.nav-top ul li:first-child {
  margin-right: auto;
}
.nav-top ul li {
  align-items: center;
  gap: var(--size-10);
}
.nav-top li svg {
  width: var(--size-10);
  fill: var(--font-color-base);
}

.nav-bottom {
  margin: auto;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color-base);
}
.nav-bottom ul {
  gap: var(--size-10);
  align-items: center;
}
.nav-bottom ul li a {
  color: var(--font-color-base);
  font-size: var(--size-14);
  padding: 0 var(--size-5);
}
.nav-bottom ul li a.current {
  color: var(--font-color-link);
}

.logo {
  width: var(--size-150);
  flex-shrink: 0;
}
.section-1 {
  justify-content: space-between;
}
.section-1 .block-text p {
  font-size: var(--size-18);
}
.section-1 .block-text a {
  margin-left: 10px;
  align-items: center;
  gap: 10px;
  font-size: var(--size-14);
}
.section-1 .block-text a svg {
  width: 6px;
}
.icon-container {
  margin-left: var(--size-50);
  width: 100%;
  position: relative;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.icon-container .round-icon img {
  width: var(--size-30);
}
.icon-container .round-icon.sml {
  padding: 10px;
}
.round-icon:first-child {
  top: -30px;
  grid-column: 1;
}
.round-icon:nth-child(2) {
  top: -20px;
  left: 30px;
  grid-column: 2;
  grid-row: 2;
}
.round-icon:nth-child(3) {
  top: 30px;
  grid-column: 4;
}
.round-icon:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}
.round-icon:nth-child(5) {
  grid-column: 3;
  grid-row: 3;
}
.round-icon:nth-child(6) {
  grid-column: 2;
  grid-row: 4;
}
.round-icon:last-child {
  grid-column: 4;
  grid-row: 5;
}
/* ----- Section 2 ----- */
.section-2 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-2 .block-text {
  max-width: fit-content;
  text-align: center;
}
.section-2 .card-container {
  width: 100%;
  margin-top: var(--size-20);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: var(--size-20);
}
.card h3 {
  align-items: center;
  gap: var(--size-10);
}
.card h3 .btn {
  padding: 2px 5px;
  font-size: 12px;
  background: #00c9a6;
}
.card p {
  font-size: var(--size-14);
  margin-top: 0;
  line-height: 1.5;
  color: var(--font-color-base);
}
.card img {
  max-width: var(--size-50);
}
.card a {
  font-size: var(--size-14);
}
.card a svg {
  margin-left: var(--size-10);
}

.section-3 {
  padding-top: var(--size-50);
  padding-left: var(--size-50);
  background-color: #f8fafe;
  align-items: center;
  justify-content: center;
  gap: var(--size-20);
}
.section-3 .block-text button {
  margin-top: var(--size-20);
}
.section-3 .banner-container img {
  min-width: 100%;
  box-shadow: -5px 10px 15px 0px rgba(0, 0, 0, 0.1);
}
.section-4 {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section-4 .block-text {
  text-align: center;
  max-width: 100%;
}
.dot-section-container {
  width: fit-content;
}
.dot-container {
  align-items: center;
}
.dot {
  background-color: #ecf2ff;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.dot svg {
  width: 5px;
  fill: var(--font-color-link);
}
.line-container {
  width: 100%;
}
.line-container hr {
  margin: 0;
  padding: 0;
  border: none;
  width: 100px;
  height: 2px;
  background-color: var(--font-color-light);
}
